body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1528px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2817 {
  position:absolute;
  left:305px;
  top:0px;
  width:1528px;
  height:60px;
}
#u2818 {
  position:absolute;
  left:2px;
  top:22px;
  width:1524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2819 {
  position:absolute;
  left:331px;
  top:14px;
  width:32px;
  height:32px;
}
#u2820 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2821 {
  position:absolute;
  left:1704px;
  top:21px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2822 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2823 {
  position:absolute;
  left:1787px;
  top:23px;
  width:16px;
  height:16px;
}
#u2824 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1463px;
  height:2px;
}
#u2826 {
  position:absolute;
  left:339px;
  top:127px;
  width:1462px;
  height:1px;
  color:#FF0000;
}
#u2827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#00FF00;
}
#u2828 {
  position:absolute;
  left:957px;
  top:88px;
  width:155px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#00FF00;
}
#u2829 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2830 {
  position:absolute;
  left:662px;
  top:302px;
  width:169px;
  height:19px;
  font-size:16px;
}
#u2831 {
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u2830_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2832 {
  position:absolute;
  left:537px;
  top:302px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u2833 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2832_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
}
#u2834 {
  position:absolute;
  left:410px;
  top:236px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#00FF00;
}
#u2835 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2836 {
  position:absolute;
  left:537px;
  top:225px;
  width:140px;
  height:40px;
}
#u2837 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2838 {
  position:absolute;
  left:710px;
  top:227px;
  width:376px;
  height:38px;
}
#u2839 {
  position:absolute;
  left:2px;
  top:11px;
  width:372px;
  word-wrap:break-word;
}
#u2840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2840 {
  position:absolute;
  left:731px;
  top:348px;
  width:140px;
  height:40px;
}
#u2841 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2842 {
  position:absolute;
  left:435px;
  top:302px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2843 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:2px;
}
#u2844 {
  position:absolute;
  left:841px;
  top:310px;
  width:714px;
  height:1px;
}
#u2845 {
  position:absolute;
  left:2px;
  top:-8px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:623px;
}
#u2846 {
  position:absolute;
  left:1544px;
  top:239px;
  width:551px;
  height:623px;
  text-align:left;
}
#u2847 {
  position:absolute;
  left:2px;
  top:40px;
  width:547px;
  word-wrap:break-word;
}
#u2848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2848 {
  position:absolute;
  left:1056px;
  top:237px;
  width:19px;
  height:19px;
}
#u2849 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:421px;
}
#u2850 {
  position:absolute;
  left:1592px;
  top:384px;
  width:365px;
  height:421px;
}
#u2851 {
  position:absolute;
  left:2px;
  top:202px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:1201px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2853 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:1201px;
}
#u2854 {
  position:absolute;
  left:2px;
  top:592px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u2855 {
  position:absolute;
  left:23px;
  top:0px;
  width:214px;
  height:66px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u2856 {
  position:absolute;
  left:0px;
  top:21px;
  width:214px;
  word-wrap:break-word;
}
#u2857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2858 {
  position:absolute;
  left:0px;
  top:70px;
  width:305px;
  height:63px;
}
#u2859 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2861 {
  position:absolute;
  left:70px;
  top:95px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2862 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2864 {
  position:absolute;
  left:0px;
  top:195px;
  width:305px;
  height:63px;
}
#u2865 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2867 {
  position:absolute;
  left:70px;
  top:217px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2868 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2870 {
  position:absolute;
  left:0px;
  top:132px;
  width:305px;
  height:63px;
}
#u2871 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2873 {
  position:absolute;
  left:70px;
  top:154px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2874 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2876 {
  position:absolute;
  left:0px;
  top:258px;
  width:305px;
  height:63px;
}
#u2877 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2879 {
  position:absolute;
  left:65px;
  top:281px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2880 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2882 {
  position:absolute;
  left:0px;
  top:321px;
  width:305px;
  height:63px;
}
#u2883 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2885 {
  position:absolute;
  left:65px;
  top:344px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2886 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2888 {
  position:absolute;
  left:0px;
  top:384px;
  width:305px;
  height:63px;
}
#u2889 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2891 {
  position:absolute;
  left:68px;
  top:406px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2892 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  position:absolute;
  left:0px;
  top:446px;
  width:305px;
  height:50px;
}
#u2895 {
  position:absolute;
  left:2px;
  top:17px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2896 {
  position:absolute;
  left:68px;
  top:459px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2897 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2899 {
  position:absolute;
  left:0px;
  top:498px;
  width:305px;
  height:63px;
}
#u2900 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2902 {
  position:absolute;
  left:68px;
  top:523px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2903 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2904 {
  position:absolute;
  left:257px;
  top:518px;
  width:28px;
  height:28px;
}
#u2905 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2907 {
  position:absolute;
  left:0px;
  top:560px;
  width:305px;
  height:47px;
  color:#999999;
}
#u2908 {
  position:absolute;
  left:2px;
  top:16px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2909 {
  position:absolute;
  left:68px;
  top:572px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2910 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2912 {
  position:absolute;
  left:0px;
  top:609px;
  width:305px;
  height:63px;
}
#u2913 {
  position:absolute;
  left:2px;
  top:24px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2915 {
  position:absolute;
  left:68px;
  top:634px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2916 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2917 {
  position:absolute;
  left:257px;
  top:629px;
  width:28px;
  height:28px;
}
#u2918 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2920 {
  position:absolute;
  left:0px;
  top:671px;
  width:305px;
  height:230px;
  color:#999999;
}
#u2921 {
  position:absolute;
  left:2px;
  top:107px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2922 {
  position:absolute;
  left:67px;
  top:687px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2923 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2924 {
  position:absolute;
  left:68px;
  top:730px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2925 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2926 {
  position:absolute;
  left:68px;
  top:774px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2928 {
  position:absolute;
  left:68px;
  top:817px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2930 {
  position:absolute;
  left:68px;
  top:860px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2932 {
  position:absolute;
  left:8px;
  top:442px;
  width:293px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2933 {
  position:absolute;
  left:10px;
  top:556px;
  width:293px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2934 {
  position:absolute;
  left:12px;
  top:671px;
  width:293px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2935 {
  position:absolute;
  left:12px;
  top:717px;
  width:293px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2936 {
  position:absolute;
  left:261px;
  top:91px;
  width:21px;
  height:21px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2938 {
  position:absolute;
  left:261px;
  top:154px;
  width:21px;
  height:21px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2940 {
  position:absolute;
  left:261px;
  top:217px;
  width:21px;
  height:21px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2942 {
  position:absolute;
  left:261px;
  top:279px;
  width:21px;
  height:21px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2944 {
  position:absolute;
  left:261px;
  top:342px;
  width:21px;
  height:21px;
}
#u2945 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2946 {
  position:absolute;
  left:257px;
  top:402px;
  width:28px;
  height:28px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948 {
  position:absolute;
  left:12px;
  top:758px;
  width:293px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2949 {
  position:absolute;
  left:12px;
  top:804px;
  width:293px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2950 {
  position:absolute;
  left:12px;
  top:847px;
  width:293px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
